
Untitled-2
.gradle/4.10.3/fileChanges/last-build.bin
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
*.properties
.gradle/5.6.3/fileChanges/last-build.bin
.gradle/5.6.3/fileHashes/fileHashes.lock
.idea/codeStyles/Project.xml
*.xml
